{"swagger":"2.0","info":{"contact":{},"description":"This API enables users to create memecoin tokens on the Base and Base Sepolia networks using the Flaunch protocol.","title":"Flaunch Memecoin API","version":"1.0.0"},"host":"web2-api.flaunch.gg","basePath":"/","schemes":["https"],"paths":{"/api/v1/base-sepolia/launch-memecoin":{"post":{"consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","schema":{"properties":{"description":{"example":"This is a fun memecoin powered by Flaunch","type":"string"},"discordUrl":{"example":"https://discord.gg/example","type":"string"},"imageIpfs":{"example":"","type":"string"},"name":{"example":"My Awesome Coin","type":"string"},"symbol":{"example":"MAC","type":"string"},"telegramUrl":{"example":"https://t.me/example","type":"string"},"twitterUrl":{"example":"https://x.com/example","type":"string"},"websiteUrl":{"example":"https://example.com","type":"string"},"":{"example":"0x498E93Bc04955fCBAC04BCF1a3BA792f01Dbaa96","type":"string"}},"type":"object"}}],"responses":{"200":{"description":"Success Response","schema":{"properties":{"jobId":{"example":"40","type":"string"},"message":{"example":"Memecoin launch request queued","type":"string"},"queueStatus":{"properties":{"activeJobs":{"example":1,"type":"number"},"estimatedWaitSeconds":{"example":0,"type":"number"},"position":{"example":0,"type":"number"},"waitingJobs":{"example":0,"type":"number"}},"type":"object"},"success":{"example":true,"type":"boolean"}},"type":"object"}},"400":{"description":"Missing Data","schema":{"properties":{"error":{"example":"Missing required fields: name, symbol, description, imageIpfs","type":"string"},"success":{"example":false,"type":"boolean"}},"type":"object"}}},"description":"Creates a new memecoin token on the selected network with the following default parameters:\n\n- $10k starting market cap\n    \n- 60% of the total supply for fair launch\n    \n- 80% dev / 20% community split\n    \n- No protocol fees\n    \n\n**Required Fields:**\n\n- `name`: Token name\n    \n- `symbol`: Token symbol (max 8 characters)\n    \n- `description`: Token description\n    \n- `imageIpfs`: IPFS hash from the image upload endpoint\n    \n\n**Creator Authentication Options (choose one):**\n\n- `creatorAddress`: Ethereum address to receive creator benefits\n    \n- `creatorEmail`: Email address to create a managed wallet via Privy\n    \n- `creatorTwitterUsername`: Twitter username for verification and wallet creation\n    \n- `creatorFarcasterUsername`: Farcaster username for verification and wallet creation\n    \n\nIf no creator authentication option is provided, the creator fees will go to the Flaunch.gg wallet.\n\n**Rate Limits:** Maximum 2 memecoin launches per minute per IP address","operationId":"launchToken","summary":"Launch Token"}},"/api/v1/launch-status/{jobId}":{"parameters":[{"in":"path","name":"jobId","required":true,"type":"string"}],"get":{"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Completed JobId","schema":{"properties":{"collectionToken":{"properties":{"address":{"example":"0x06199b4b69f815141C197D034698d9E67Cdd265b","type":"string"},"creator":{"example":"0x4d7c5DFceC78E011E16BFe9F701D857841bbDFbB","type":"string"},"imageIpfs":{"example":"QmQX8pdLRGeNps92Ma4esew7cbnYuBxQK7xUvp5soe3Lec","type":"string"},"name":{"example":"My Awesome Coin","type":"string"},"symbol":{"example":"MAC","type":"string"},"tokenURI":{"example":"ipfs://QmSxzzNaeHbYZbPyFF29Z1PrhrsfNNMyFvebZeuLPrkzvA","type":"string"}},"type":"object"},"estimatedWaitTime":{"example":0,"type":"number"},"queuePosition":{"example":0,"type":"number"},"state":{"example":"completed","type":"string"},"success":{"example":true,"type":"boolean"},"transactionHash":{"example":"0x04e594ee46312eecee8827aa2fef777dd2a94d247b723662be3a6daabb300028","type":"string"}},"type":"object"}},"404":{"description":"Unknown JobId","schema":{"properties":{"error":{"example":"Job not found","type":"string"},"success":{"example":false,"type":"boolean"}},"type":"object"}}},"description":"Retrierves the launch status of a `jobId`.","operationId":"checkLaunchStatus","summary":"Check Launch Status"}},"/api/v1/upload-image":{"post":{"consumes":["text/plain"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","schema":{"format":"binary","type":"string"}}],"responses":{"200":{"description":"Success Response","schema":{"properties":{"ipfsHash":{"example":"QmX7UbPKJ7Drci3y6p6E8oi5TpUiG7NH3qSzcohPX9Xkvo","type":"string"},"nsfwDetection":{"example":null,"x-nullable":true},"success":{"example":true,"type":"boolean"},"tokenURI":{"example":"ipfs://QmX7UbPKJ7Drci3y6p6E8oi5TpUiG7NH3qSzcohPX9Xkvo","type":"string"}},"type":"object"}},"400":{"description":"NSFW Upload Detected","schema":{"properties":{"error":{"example":"Content flagged: Suggestive content","type":"string"},"nsfwDetection":{"properties":{"details":{"example":[],"items":{},"type":"array"},"isNSFW":{"example":true,"type":"boolean"},"message":{"example":"Content flagged: Suggestive content","type":"string"},"score":{"example":0.92,"type":"number"}},"type":"object"},"success":{"example":false,"type":"boolean"}},"type":"object"}}},"description":"Uploads and validates an image before creating a memecoin. Images are checked for appropriate content and stored on IPFS.\n\n**Rate Limits:** Maximum 6 image uploads per minute per IP address","operationId":"uploadImage","summary":"Upload Image"}},"/livez":{"get":{"produces":["application/json"],"parameters":[],"responses":{"200":{"description":"Health Check","schema":{"properties":{"network":{"example":"base-sepolia","type":"string"},"serverWallet":{"example":"0x4d7c5DFceC78E011E16BFe9F701D857841bbDFbB","type":"string"},"status":{"example":"ok","type":"string"}},"type":"object"}}},"description":"Checks if the API is running and returns the network configuration.","operationId":"healthCheck","summary":"Health Check"}}},"tags":[]}